.hero {
    background-size: cover;
    padding-top: 10px;
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 0 0 1px #000;
}

.hero img {
    width: 40vw;
    height: 60vh;
    float: right;
}

div p {
    color: black;
    font-size: 30px;
}

div h1 {
    color: black;
    font-size: 30px;
    padding-right: 10rem;
}

div a {
    color: orange;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.containerWords {
    margin-left: 5rem;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
