.hero {
    background-size: cover;
    padding-top: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #242934;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 0 0 1px #000;
}

.hero img {
    width: 40vw;
    height: 60vh;
    float: right;
}

div p {
    color: white;
    font-size: 30px;
}

div h1 {
    color: white;
    font-size: 30px;
    padding-right: 10rem;
}

div p a {
    color: #EDA13A;
}

div a {
    color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.containerWords {
    margin-left: 5rem;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 50%;
    margin-left: 2%;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}
