@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body;
  height: 100%;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "calt" 0;
  position: relative;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
  clear: both;
}
.footer, .push {
  height: 150px; /* .push must be the same height as .footer */
}

@layer utilities {
  .h-500 {
    height: 500px;
  },
  .h-250 {
    height: 250px;
  },
  .w-400 {
    width: 400px;
  },
  .w-200 {
    width: 200px;
  }
}
