---
import Nav from '../components/Nav'
import Heading from '../components/Heading.astro'
import Footer from '../components/Footer'
import '../styles/styles.css';

const {title} = Astro.props;
---
<html lang="en">
  <head> 
      <Heading title={title} />
    <style>
      article {
        margin: 0 auto;
        max-width: 1200px;
      }
    </style>
  </head>

<body class="w-full h-full bg-no-repeat bg-cover bg-center bg-fixed bg-nature">
  <Nav />
    <article>
      <slot />
    </article>
  <Footer />
</body>

</html>