---
import Nav from '../components/Nav'
import Join from '../components/Join'
import Heading from '../components/Heading.astro'
import Footer from '../components/Footer'
import '../styles/styles.css';
import { BrowserRouter as Router, Switch, Route } from "react-router-dom";

const {title} = Astro.props;
---
<html lang="en">
  <head> 
      <Heading title={title} />
    <style>
      article {
        margin: 0 auto;
        max-width: 1200px;
      }
    </style>
  </head>
<Router>
<body class="w-full h-full bg-no-repeat bg-cover bg-center bg-fixed bg-logoDark">
  <Nav />
  <article class="text-white">
    <slot />
    <Switch>
    <Route path="/careers">
      <Join className="max-w-[1200px]" />
    </Route>
    </Switch>
  </article>
  <Footer class="absolute inset-x-0 bottom-0" />
</body>
</Router>
</html>