---
import Heading from '../components/Heading.astro'
import Footer from '../components/Footer'
import Nav from '../components/Nav'
import Join from '../components/Join.astro'
import '../styles/styles.css';

const {title} = Astro.props;
const url = Astro.url; 
---

<html lang="en">
  <head> 
      <Heading title={title} />
    <style>
      article {
        margin: 0 auto;
        max-width: 1200px;
        padding: 25px;
      }
    </style>
  </head>
<body class="w-full h-full bg-no-repeat bg-cover bg-center bg-fixed bg-logoDark">
  <Nav />
  <article class="text-white">
    <slot />
  </article>
  <article>
    {url.pathname !== "/careers/" && <Join url={url} />}     
  </article>  
  <footer class="bottom-0 inset-x-0 absolute">
    <Footer />
  </footer>  
</body>
</html>
