---
import Hero from '../components/Hero'
import '../styles/global.scss';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Granola Systems</title>
	</head>
	<body>
		<Hero />
		<slot />
	</body>
</html>
