---
import Front from '../components/Front'
import Nav from '../components/Nav'
import Heading from '../components/Heading.astro'
import Footer from '../components/Footer'
import '../styles/styles.css';

const {title} = Astro.props;
---
<html lang="en" class="w-full h-full">
  <head>
    <Heading title={title} />
  </head>
<body class="w-full h-full bg-no-repeat bg-cover bg-center bg-fixed bg-logoDark">
  <Nav />
  <Front /> 
  <footer class="relative clear-both h-[15px] -mt-[15px]">
    <Footer />
  </footer>  
</body>
</html>
