---
import Front from '../components/Front'
import Heading from '../components/Heading.astro'
import Nav from '../components/Nav'
import Footer from '../components/Footer'
import '../styles/styles.css';

const {title} = Astro.props;
---
<html lang="en">
  <head>
    <Heading title={title} />
  </head>
<body class="w-full h-full bg-no-repeat bg-cover bg-center bg-fixed bg-logoDark">
  <Nav />
  <Front />
  <Footer className="fixed inset-x-0 bottom-0" />
</body>
</html>
