---
// import BaseHead from '../components/BaseHead.astro'
// const {title} = Astro.props; && 		<BaseHead title={title} />
import Header from '../components/Header.jsx'
import '../styles/styles.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Granola Systems</title>
		<style>
			/* scoped CSS styles go here: */ /* hi { .. } */
		</style>
	</head>
		<br/> 
	<body>
		<Header />
		<nav class="site-header__wrapper">
			<a class="nav-link" style="text-decoration:none" href="/about">ABOUT</a>
			<a class="nav-link" style="text-decoration:none" href="/services">SERVICES</a>
			<a class="nav-link" style="text-decoration:none" href="/contact">CONTACT</a>
		</nav>
		<slot />
	</body>
</html>
