---
// Component imports and setup Javacsript go here!
import Layout from '../layouts/Layout.astro'
const title = "About"
---

<Layout title={title}>
	<div>
		<h1>{title}</h1>
		<p>Learn about the team below</p>
	</div>
	<h3>Founder</h3>
	<img src="/images/robinbb-profile-photo-bw.jpeg" width="300px">
	<br/> <br/>
	<a href="/">Return to the home page</a>
</Layout>