---
// Component imports and setup Javacsript go here!
import Layout from '../layouts/Layout.astro'
const title = "Contact"
---

<Layout title={title}>
	<div>
		<h1>{title}</h1>
		<p>You are on the contact page</p>
	</div>
	<a href="/">Go back to the home page</a>
</Layout>