---
// Component imports and setup Javacsript go here!
import Layout from '../layouts/Layout.astro'
// const title = "Granola Systems"
---

<Layout>
	<div class="container" text-align="center">
		<h1><b>Welcome to Granola Systems</b></h1>
		<br/>
		<p>Granola is a software consultancy. We make winning software 
			teams using our expertise in software team leadership, DevOps, 
			distributed systems, blockchain, functional programming, and 
			data engineering.
		</p>
	</div>
	<br/><br/>
	<a href="/about"><u style="color:blue">Learn more about the team</u></a>
</Layout>