---
// Component imports and setup Javacsript go here!
import Layout from '../layouts/Layout.astro'
// const title = "Granola Systems"
---

<Layout>
	<div class="container" text-align="center">
		<h1>Welcome to Granola Systems</h1>
		<p>Granola is a software consultancy. We make winning software 
			teams using our expertise in software team leadership, DevOps, 
			distributed systems, blockchain, functional programming, and 
			data engineering.
		</p>
	</div>
	<a href="/about">Learn more about the team</a>
</Layout>