---
// Component imports and setup Javacsript go here!
import Layout from '../layouts/Layout.astro'
const title = "Granola Systems"
---

<Layout title={title}>
	<div>
		<h1>Welcome to Granola Systems</h1>
		<p>Granola is a software consultancy. We make winning software 
			teams using our expertise in software team leadership, DevOps, 
			distributed systems, blockchain, functional programming, and 
			data engineering.
		</p>
	</div>
	<h2>
		Testing another header
	</h2>
	<a href="/contact">Contact</a>
</Layout>