---
// Component imports and setup Javacsript go here!
import Layout from '../layouts/Layout.astro'
const title = "About"
---

<Layout title={title}>
	<div>
		<h1>{title}</h1>
		<br/>
		<p>Learn about the team below</p>
	</div>
	<br/>
	<h3><u>Founder</u></h3>
	<img src="/images/robinbb-profile-photo-bw.jpeg" width="300px">
	<br/> <br/>
	<a href="/"><u style="color:blue">Return to the home page</u></a>
</Layout>