---
import '../styles/styles.css';
---

<div>
    <section class="flex flex-col items-center lg:flex-row">
        <div class="robin">
            <img class="max-w-full"
                    src="/images/DarkTransparentGranolaLogo.png" />
        </div>
        <div class="flex flex-col px-12 lg:h-screen lg:justify-center">
            <h1 class="text-4xl sm:text-5xl text-white">
                Winning Software Teams
            </h1>
            <p class="text-2xl sm:text-3xl text-white">
                Granola is a software consultancy. We make winning teams
                using our expertise in leadership, DevOps, Web3,
                distributed systems, functional programming, and data
                engineering.</p>
            <div class="flex flex-row space-x-8 py-8">
                <a href="/blog/" class="w-fit py-4 px-8 rounded-lg
                text-white no-underline text-2md bg-logoOrange">
                    Blog
                </a>
                <a href="mailto:hello@granola.team" class="w-fit py-4 px-8
                rounded-lg text-white no-underline text-2md bg-logoOrange">
                    Contact
                </a>
            </div>
        </div>
    </section>
</div>