---
---

<div>
    <section class="flex flex-col items-center lg:flex-row">
        <div>
            <img class="max-w-full"
                 src="/images/DarkTransparentGranolaLogo.png"
            />
        </div>
        <div class="flex flex-col px-12 lg:h-screen lg:justify-center">
            <h1 class="text-2xl">
                Winning Software Teams
            </h1>
            <div class="text-xl">
                <slot />
            </div>
            <div class="flex flex-row space-x-8 py-8">
                <a href="/about/" class="w-fit py-4 px-8 rounded-lg text-white no-underline text-2md bg-logoOrange">
                    About
                </a>
                <a href="/blog/" class="w-fit py-4 px-8 rounded-lg text-white no-underline text-2md bg-logoOrange">
                    Blog
                </a>
                <a href="mailto:hello@granola.team"
                   class="w-fit py-4 px-8 rounded-lg text-white no-underline text-2md bg-logoOrange"
                  >Contact</a>
            </div>
        </div>
    </section>
</div>
