---
const {title} = Astro.props;
---

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Granola is a software consultancy. 
    We make winning software teams using our expertise in software team leadership, DevOps, distributed systems, 
    blockchain, functional programming, and data engineering.">
    <meta name="author" content="Granola Systems">
    <meta property="og:title" content="Granola Systems">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://granola.team">
    <meta property="og:description" content="Granola is a software consultancy. We make winning software teams 
    using our expertise in software team leadership, DevOps, distributed systems, blockchain, 
    functional programming, and data engineering.">
      <title>{title}</title>
    <link rel="stylesheet" href="../styles/styles.css">