---
import '../styles/styles.css';
---

<div>
    <div class="mb-10">
        <a href="mailto:hello@granola.team" class="py-4 px-8 rounded-lg text-white no-underline text-2md 
        bg-logoOrange">Join our team!</a>
    </div>
</div>