---
import '../styles/styles.css';
import '../../public/images/GranolaHorizontalDarkBg.png';
---

<div>
    <nav class="flex justify-between overflow-auto">
            <div class="flex justify-start">
                <a href="/"
                  ><img class="h-20 w-60"
                        src="../../images/GranolaHorizontalDarkBg.png"
                     /></a>
            </div>
            <div class="flex justify-end items-center mr-6 gap-6">
                <a href="/blog/"
                   class="text-xl no-underline">Blog</a>
                <a href="https://github.com/Granola-Team" target="_blank"
                   class="text-xl no-underline">GitHub</a>
                <a href="mailto:hello@granola.team"
                   class="text-xl no-underline">Contact</a>
            </div>
    </nav>
</div>
